<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
    <link href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Nanum+Pen+Script&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com%22%3E/">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cute+Font&family=Oswald:wght@300;400&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <div class="main-explain">
        <p class="main-title">낭만닥터</p>
    </div>

    <div class="main-img-container">
        <img class = "main-img" src="../static/KakaoTalk_Photo_2023-06-04-21-05-30.jpeg" alt="">       
    </div>
    <div class="main-ai-response-container">
        <div class="ai-response">
            <p class="response">{{content}}</p>
        </div>
    </div>
</body>
</html>