<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link rel="preconnect" href="https://fonts.googleapis.com%22%3E/">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cute+Font&family=Oswald:wght@300;400&display=swap" rel="stylesheet">
</head>
<body >
    <header class="main-header">
        <h1 class="main-title">궁금한 걸 물어보세요</h1>
        <p class="main-title-content">우리 애가 답해줄거에요</p>
    </header>
    <form class = "user-input-box" action="/create/" method="POST"></form>
    <div class="main-img-container">
        <img class = "main-img" src="https://img.etoday.co.kr/pto_db/2017/06/20170605064641_1074327_300_211.gif" alt="">       
        
    </div>
    <form class = "user-input-box" action="/create/" method="POST">
        <div class="main-question-container">
                <textarea placeholder = "응애 뭐가 궁금해..?
(우리 아이가 고민할 시간을 주세요)
(여기를 클릭 후 적어주세요) " name="body"></textarea>
                <input class = "button" type="submit" value="제출">
        </div>
    </form>

</body>
</html> 

<!-- <div class="main-question-container">
    <img src="https://img.etoday.co.kr/pto_db/2017/06/20170605064641_1074327_300_211.gif" alt="">       
        <textarea placeholder = "응애 애기 노는중" name="body"></textarea>
        <input type="submit" value="제출">
    </form>
</div> -->